# https://github.com/changesets/action/issues/70
name: Release

on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Required for OIDC
      pull-requests: write
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Setup
        uses: ./.github/setup

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          version: pnpm ci:version
          publish: NODE_AUTH_TOKEN="" pnpm ci:publish
        env:
          GITHUB_TOKEN: ${{ secrets.CHANGESETS_TOKEN }}
